*{
    margin:0px;
    padding:0px;
    
    
}
body{
    font-family: serif;
    
}
.main{
    background-image:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.6)), url(harry\ bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    
    
}
.cards{
    width:10%;
    height:10%;
    display: inline-block;
    background-color: ghostwhite ;
    border-radius: 5px;
    margin:40px;
    box-shadow: 2px 2px 10px black;
    max-height: 500px;
    


}
.cards:hover{
    box-shadow: 5px 5px 15px white;
}
.image img{
    height:100%;
    width:100%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    
}
.title{
    text-align: center;
    padding:5px;
    color: teal;
    


}
.description{
    text-align:center;
    padding:4px;
    max-height: 30px;
    overflow-y: scroll;
    text-decoration-color: black;
    
    font-family: serif;

}
button{
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: white;
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
    color: white;
    background-color: black;
    transition: 0.1s;
    
}
.review{
    text-align: center;
}